<%if current_user.pro == true%>
<%if current_user.id == @bid.hit.user_id%>
</br>
</br>
</br>
<h3>Η αγγελία για την οποία ζητήσατε να κάνετε προσφορά έχει καταχωρηθεί από εσας και ως εκ τούτου δεν μπορείτε να καταχωρησετε προσφορά.</h3>
</br></br>
<a> <%= link_to 'Πίσω', url_for(:back), :class => 'btn btn-primary btn-large' %></a>
</br></br></br></br></br></br></br></br></br>
<%else%>
<%= render :partial => 'form' %>
<%end%>
<%else%>
Δεν έχετε το δικαίωμα να κάνετε προσφορές.Για να μπορείτε να κάνετε προσφορές αναβαθμίστε τον λογαριασμό σας και λάβετε δικαιώματα pro για ένα μήνα δωρεάν!
<%end%>
